/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/barlow-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"), url("../fonts/barlow-v12-latin-regular.ttf") format("truetype"), url("../fonts/barlow-v12-latin-regular.svg#Barlow") format("svg");
  /* Legacy iOS */ }
/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/barlow-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"), url("../fonts/barlow-v12-latin-700.ttf") format("truetype"), url("../fonts/barlow-v12-latin-700.svg#Barlow") format("svg");
  /* Legacy iOS */ }
/* fraunces-regular - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v24-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/fraunces-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/fraunces-v24-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v24-latin-regular.woff") format("woff"), url("../fonts/fraunces-v24-latin-regular.ttf") format("truetype"), url("../fonts/fraunces-v24-latin-regular.svg#Fraunces") format("svg");
  /* Legacy iOS */ }
/* fraunces-900 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v24-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/fraunces-v24-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fraunces-v24-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v24-latin-900.woff") format("woff"), url("../fonts/fraunces-v24-latin-900.ttf") format("truetype"), url("../fonts/fraunces-v24-latin-900.svg#Fraunces") format("svg");
  /* Legacy iOS */ }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2; }

.wrapper {
  border: 1px solid #fefcf7;
  width: 1440px;
  margin: 0 auto;
  background-color: #fefcf7; }
  .wrapper .header {
    width: 1280px;
    margin: 0 auto;
    background-color: #fefcf7;
    margin-top: 44px; }
    .wrapper .header .box {
      display: flex;
      justify-content: space-between;
      background-color: #fefcf7;
      margin-bottom: 43.44px; }
      .wrapper .header .box a {
        background-color: #fefcf7; }
      .wrapper .header .box img {
        background-color: #fefcf7; }
      .wrapper .header .box ul {
        width: 283px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fefcf7; }
        .wrapper .header .box ul li {
          list-style: none;
          font-family: 'Barlow';
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.92px;
          color: #83888f;
          cursor: pointer;
          background-color: #fefcf7; }
          .wrapper .header .box ul li a {
            list-style: none;
            font-family: 'Barlow';
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.92px;
            color: #83888f;
            cursor: pointer;
            background-color: #fefcf7;
            text-decoration: none; }
    .wrapper .header .header-bacground {
      width: 1280px;
      height: 600px;
      border-radius: 10px;
      margin: 0 auto 136px auto;
      padding: 117px 0 116px 85px;
      background-image: url("../images/bacgroud.png");
      position: relative; }
      .wrapper .header .header-bacground h1 {
        width: 493px;
        color: #fefcf7;
        font-size: 72px;
        font-family: 'fraunces';
        font-weight: 900;
        line-height: 72px; }
      .wrapper .header .header-bacground p {
        width: 445px;
        font-family: 'barlow';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #fefcf7;
        margin-top: 32px;
        padding-bottom: 56px; }
      .wrapper .header .header-bacground a {
        width: 217px;
        height: 56px;
        border-radius: 6px;
        padding: 15px 31px;
        background-color: #66d2cf;
        text-decoration: none;
        color: #fefcf7;
        font-family: 'fraunces';
        font-weight: 900;
        font-size: 18px;
        line-height: 25px; }
  .wrapper .main {
    width: 1280px;
    min-height: 100px;
    margin: 0 auto 350px auto;
    background-color: #fefcf7;
    position: relative; }
    .wrapper .main .collection {
      width: 1111px;
      height: 196px;
      margin: 0 auto;
      background-color: #fefcf7;
      background-image: url("../images/collection.png");
      opacity: 50.32%; }
    .wrapper .main .section {
      width: 1111px;
      height: 398.55px;
      margin: 0;
      background-color: transparent;
      position: absolute;
      display: flex;
      justify-content: space-between;
      top: 126px;
      left: 84.5px; }
      .wrapper .main .section .box1 {
        width: 255px;
        height: 398.55px;
        background-color: transparent; }
        .wrapper .main .section .box1 img {
          margin-bottom: 71.55px;
          background-color: transparent; }
        .wrapper .main .section .box1 h3 {
          width: 255px;
          height: 32px;
          font-family: 'Fraunces';
          font-weight: 900;
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 24px;
          text-align: center;
          background-color: transparent; }
        .wrapper .main .section .box1 p {
          width: 255px;
          height: 78px;
          font-family: 'Barlow';
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          background-color: transparent; }
    .wrapper .main .choose-us {
      width: 1280px;
      height: 557px;
      border-radius: 10px;
      margin: 515px auto 0 auto;
      background-color: #2C343E;
      padding-top: 100px; }
      .wrapper .main .choose-us h2 {
        height: 48px;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #fefcf7;
        background-color: transparent; }
      .wrapper .main .choose-us .text1 {
        width: 540px;
        height: 80px;
        opacity: 80%;
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #fefcf7;
        background-color: #2C343E;
        margin: 32px 370px 0 370px; }
      .wrapper .main .choose-us .card {
        width: 1110px;
        height: 382px;
        margin: 86px auto 0 auto;
        display: flex;
        justify-content: space-between;
        background-color: transparent; }
        .wrapper .main .choose-us .card .box {
          width: 350px;
          height: 382px;
          border-radius: 8px;
          background-color: #0E8784; }
          .wrapper .main .choose-us .card .box img {
            margin: 72px 143px 56px 136px;
            background-color: transparent; }
          .wrapper .main .choose-us .card .box h3 {
            height: 32px;
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #FEFCF7;
            background-color: #0E8784; }
          .wrapper .main .choose-us .card .box .text2 {
            height: 78px;
            font-family: 'Barlow';
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #FEFCF7;
            margin: 24px 48px 48px 47px;
            background-color: #0E8784; }
  .wrapper .navbar {
    width: 1280px;
    min-height: 800px;
    margin: 0 auto;
    background-color: #fefcf7; }
    .wrapper .navbar .works {
      width: 1045px;
      height: 565px;
      margin-left: 85px;
      margin-bottom: 64px;
      background-color: #fefcf7; }
      .wrapper .navbar .works h3 {
        height: 32px;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        background-color: #fefcf7;
        margin-bottom: 85px; }
      .wrapper .navbar .works .line {
        width: 780px;
        height: 1px;
        border: 2px solid #FDD6BA;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .wrapper .navbar .works .line span {
          width: 31px;
          height: 31px;
          border: 2px solid #0E8784;
          border-radius: 50%;
          display: inline-block;
          background-color: #fefcf7; }
      .wrapper .navbar .works .item-list {
        width: 1040px;
        margin-top: 82px;
        display: flex;
        justify-content: space-between;
        background-color: #fefcf7; }
        .wrapper .navbar .works .item-list .cards {
          width: 285px;
          height: 355px;
          background-color: #fefcf7; }
          .wrapper .navbar .works .item-list .cards .number {
            width: 90px;
            height: 72px;
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            color: #FDD6BA;
            background-color: #fefcf7; }
          .wrapper .navbar .works .item-list .cards .title {
            width: 255px;
            height: 73px;
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 32px;
            line-height: 36px;
            color: #333D4B;
            background-color: #fefcf7;
            margin-top: 38px; }
          .wrapper .navbar .works .item-list .cards .select {
            width: 285px;
            height: 130px;
            font-family: 'Barlow';
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #333D4B;
            margin-top: 42px;
            background-color: #fefcf7; }
    .wrapper .navbar .plan {
      width: 217px;
      height: 56px;
      margin-left: 85px;
      margin-bottom: 200px;
      padding: 15px 31px 16px 31px;
      background-color: #66D2CF;
      border-radius: 6px;
      font-family: 'Fraunces';
      font-weight: 900;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      text-decoration: none;
      color: #fefcf7; }
  .wrapper .footer {
    width: 1280px;
    height: 120px;
    margin: 0 auto;
    background-color: #2C343E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 85px; }
    .wrapper .footer ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      background-color: #2C343E; }
      .wrapper .footer ul li {
        font-family: 'Barlow';
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.92px;
        background-color: #2C343E;
        color: #83888F; }
        .wrapper .footer ul li a {
          background-color: transparent;
          font-family: 'Barlow';
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.92px;
          color: #83888F;
          text-decoration: none; }
          .wrapper .footer ul li a img {
            background-color: transparent; }

/*# sourceMappingURL=main.css.map */
